* {
    background-color: antiquewhite;
    text-align: center;
    align-items: center;
    align-content: center;
}


button {
    color: white;
    background-color: black;   
    font-size: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: 50px;
}


