* {
    background: url("https://images.unsplash.com/photo-1610736702440-9dfab24cd7da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdWRzJTIwaW4lMjBza3l8ZW58MHx8MHx8&w=1000&q=80");
    text-align: center;
    align-items: center;
    align-content: center;
}

button {
    color: white;
    background-color: black;   
    font-size: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}

#quoteDisplay {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: 900;
    margin-top: 15%;
    text-align: center;
    align-items: center;
    align-content: center;
}

.swal-modal {
    background-color:antiquewhite;
    border: 3px solid white;
  }

.swal-overlay {
    background-color: grey;
  }

.swal-text {
    background-color: antiquewhite;
    padding: 10px;
    display: block;
    margin: 22px;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .swal-button {
      background-color: rgb(56, 56, 56);
  }

  .swal-title {
      color: black;
      font-family: 'Arial Black', Arial, sans-serif;
      font-weight: bolder;
  }
